@model Workflow_MVC_1.ViewModels.WorkflowFormViewModel
@{
    ViewBag.Title = "CreateWorkflowModelView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-horizontal">

    <h2>CreateWorkflowModelView</h2>

    <form>
        <div class="form-group">
            @Html.LabelFor(m => m.OwnerUser, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">

                @Html.TextBoxFor(m => m.OwnerUser, new {
               @readonly = "readonly",
               @class = "form-control" ,
               @Value = @User.Identity.Name})
                @Html.ValidationMessageFor(m => m.OwnerUser)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.TargetUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.TargetUser, new SelectList(Model.TargetUsers, "Id", "Email"), "", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Context, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Context, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Context, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MyState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.MyState, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MyState, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>
    </div>